<div id="help-container" class="container">
  <div class="row help-row">
    <div class="col-md-12">
      <h1><%= t('help.title') %></h1>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-4">
      <h2><%= t('help.available_title') %></h2>
      <p><%= t('help.available_text') %></p>
    </div>
    <div class="col-md-8">
      <%= image_tag "resource-links-view.png", class:"help-image", size: "720x366" %>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-8">
      <%= image_tag "big-book-search-view.png", class:"help-image", size: "720x366" %>
    </div>
    <div class="col-md-4">
      <h2><%= t('help.big_book_title') %></h2>
      <p><%= t('help.big_book_text') %></p>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-4">
      <h2><%= t('help.community_title') %></h2>
      <p><%= t('help.community_text') %></p>
    </div>
    <div class="col-md-8">
      <%= image_tag "feed-view.png", class:"help-image", size: "720x366" %>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-8">
      <%= image_tag "friends-index-view.png", class:"help-image", size: "720x366" %>
    </div>
    <div class="col-md-4">
      <h2><%= t('help.friends_title') %></h2>
      <p><%= t('help.friends_text') %></p>
    </div>
  </div>


  <hr />
  <div class="row help-row">
    <div class="col-md-4">
      <h2><%= t('help.journal_title') %></h2>
      <p><%= t('help.journal_text') %></p>
    </div>
    <div class="col-md-8">
      <%= image_tag("journal-view.png", size: "720x366", class: "help-image") %>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-8">
      <%= image_tag "meetings-view.png", class:"help-image", size: "720x366" %>
    </div>
    <div class="col-md-4">
      <h2><%= t('help.meetings_title') %></h2>
      <p><%= t('help.meetings_text') %></p>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <div class="col-md-4">
      <h2><%= t('help.profiles_title') %></h2>
      <p><%= t('help.profiles_text') %></p>
    </div>
    <div class="col-md-8">
      <%= image_tag "user-profile-view.png", class:"help-image", size: "720x366" %>
    </div>
  </div>

  <hr />
  <div class="row help-row">
    <h1 id="link-home"><%= link_to t('not_found.home'), root_path %></h1>
  </div>
</div>
