<div id=<%= "search-result-#{user.username}" %>>
  <%= form_for Friendship.new, method: :create, url: friendships_path do |f| %>
    <%= user.username %>
    <%= f.hidden_field :user_id, value: user.id %>
    <%= link_to t("friendships.view_profile"), user_show_path(user.username) %>
    <%= f.submit t("friendships.add_friend"), id: "#{user.username}-submit" %>
  <% end %>
</div>