<div class="row searched-friend" id=<%= "search-result-#{user.username}" %>>
  <%= form_for Friendship.new, method: :create, url: friendships_path do |f| %>
  <div class="col-md-2">
    <p class="searched-friend-details"><%= image_tag (user.decorate.current_token_image_sm), class: "status-token" %>
    <%= user.username %></p>
  </div>
  <div class="col-md-8">
    <%= t('profile.bio') + ": " + user.bio %>
  </div>
  <div class="col-md-2 searched-friend-actions">
    <%= f.hidden_field :user_id, value: user.id %>
    <%= link_to t("friendships.view_profile"), user_show_path(user.username), class: 'btn-link' %>
    <br />
    <br />
    <%= f.submit t("friendships.add_friend"), id: "#{user.username}-submit", class: 'btn-link' %>
  </div>
  <% end %>
</div>