<div class="row" id="friend-search-conatiner">
  <div id="friend-search" class="col-md-12">
    <h1><%= t("navbar.find_friends") %></h1>
    <%= form_tag friends_search_index_path, id: "friend-search-form", method: :get, url: friends_search_index_path do %>
      <%= text_field_tag :friend_search_input, params[:friend_name], :placeholder => "Search for a Friend" %>
      <%= submit_tag t('meetings.search'), class: "btn", id: 'friend_search_button' %>
    <% end %>
  </div>
</div>

<div class="row" id="awaiting-confirmation">
  <div class="col-md-12" id="pending-section-title">
    <h2><%= t('friendships.awaiting') %></h2>
  </div>
</div>
  
<%= render partial: 'friendships/pending_friendship', collection: @pending, as: :friendship %>
