<div class="row" id="landing-stripe">
  <div class="col-lg-2 col-md-2 col-lg-offset-1">
    <h1><%= t("our_support") + "." %><br />
        <%= t("your_success") + "." %></h1>
    <%= image_tag '12Stepper_dark_logo.png' %>
  </div>
  <div class="col-lg-3 col-md-2">
    <div class="actions" id="welcome">
      <strong><%= I18n.t("profile.welcome_back") %></strong>
    </div>
    <%= form_tag sessions_path, id:"login-form" do %>
      <div class="field">
        <%= text_field_tag :email, params[:email], {:placeholder => I18n.t("profile.email")} %>
      </div>
      <div class="field">
        <%= text_field_tag :fake_password, params[:fake_password], {:placeholder => I18n.t("profile.password")} %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="actions" id="log-in">
        <%= submit_tag I18n.t("profile.login"), class: "btn" %>
      </div>
    <% end %> 
  </div>
  <div class="col-lg-6 col-md-8">
    <%= render partial: 'users/new', user: @user %>
  </div>
</div>