<h1><%= t("meetings.title") %></h1>

<%= form_tag search_meetings_path, method: :get do %>
  <p>
    <%= text_field_tag :address, params[:address], id: "search-form", placeholder: t("meetings.address") %>
    <%= submit_tag t('meetings.search'), name: nil, id: "search-button", class: "btn" %>
  </p><br />
<% end %>

<div class="col-lg-6 map-container pull-right ">
  <%= link_to "Hide Map", '#', class:'hide-map-link' %><br />
  <div id='main-map' class='light'></div>
</div>

<div id='search-results' class='col-lg-6'></div>

<%= javascript_include_tag "mapbox" %>
<%= javascript_include_tag "meetings" %>
<%= stylesheet_link_tag "mapbox" %>

<script type='text/javascript' id="map-script">
  var map = L.mapbox.map('main-map', 'examples.map-20v6611k').setView([39.7391667, -104.984167], 12);
  $(".map-container").addClass("hide-map-container")
</script>
