<% @meetings.each do |meeting| %>
  <h2><%= meeting.name %></h2>
  <%= t("meetings.location") %>: <%= meeting.location %><br/>
  <%= t("meetings.address") %>: <%= meeting.address %><br/>
  <%= t("meetings.day") %>: <%= meeting.day %><br/>
  <%= t("meetings.time") %>: <%= meeting.time %><br/>
<% end %>

<%= javascript_include_tag "meetings" %>

<%= javascript_include_tag "mapbox" %>
<%= javascript_include_tag "meetings" %>
<%= stylesheet_link_tag "mapbox" %>