<% @meetings.each do |meeting| %>
  <h2><%= meeting.name %></h2>
  Location: <%= meeting.location %><br/>
  Address: <%= meeting.address %><br/>
  Day: <%= meeting.day %><br/>
  Time: <%= meeting.time %><br/>
  Time: <%= meeting.lat %><br/>
  Time: <%= meeting.lng %><br/>
  Fellowship: <%= meeting.fellowship %><br/>
<% end %>

