<% @meetings.each do |meeting| %>
  <h2><%= meeting.name %></h2>
  <%= t("meetings.location") %>: <%= meeting.location %><br/>
  <%= t("meetings.address") %>: <%= meeting.address %><br/>
  <%= t("meetings.day") %>: <%= meeting.day %><br/>
  <%= t("meetings.time") %>: <%= meeting.time %><br/>
  <%= t("meetings.fellowship") %>: <%= meeting.fellowship %><br/>
<% end %>

