<div class="row page-header">
    <div class="col-lg-3 col-md-3">
      <h1 id="my-journal"><%= t('entries.work_step') %></h1>
    </div>
    <div class="col-lg-4 col-md-4">
      <%= search_field 'entries_search', :meetings_search,  placeholder: t('meetings.search'), id:'entries-search' %>
    </div>
</div>
<div id='worksheet-entry-text'>
  <%= form_for @entry do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :step %>

    <%= f.cktext_area :body, {:class => 'ckeditor', :id => 'worksheet-step'} %>
    <%= f.submit t('entries.create'), id:'worksheet-entry-submit' %>
    <%= link_to t('entries.delete'), entries_path, :id => 'worksheet-entry-delete' %>
    
  <% end %>
</div>

<h2>Worksheet for Step <%= @entry.step %></h2>
<div class='worksheet'>
  <% @worksheets.each do |worksheet| %>
    <%= worksheet.title %>
    <%= worksheet.body.html_safe %>
  <% end %>
  <%= paginate @worksheets %>

</div>

<script>
  window.onload=function(){
    document.getElementsByClassName("cke_bottom")[0].style.marginTop = "220px";
  }
</script>

