<div class="row" id="entry-index-item-row">

  <div class="col-lg-2 col-md-2">
    <h3 class="entry-item-title"><%= link_to "#{entry.title}" %></h3>
    <% if entry.step %>
      <h4><%= t("entries.step") %>: <%= entry.step %></h4>
    <% end %>
    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
  </div>

  <div class="col-lg-8 col-md-8" id="entry-index-item-body">
    <%= entry.body.html_safe %>
  </div>

  <div class="col-lg-2 col-md-2">
    <ul id="entry-item-actions">
      <li><%= link_to t('entries.edit'), edit_entry_path(entry.id) %></li>
      <li><%= link_to t('entries.delete'), entry_path(entry.id), method: :delete %></li>
      <li><%= link_to t('entries.share'), "#" %></li>
    </ul>
  </div>

</div>
<hr />