<div class="entry-edit-container">
  <%= form_for @entry do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.cktext_area :body, :class => 'ckeditor' %>

    <%= f.submit %>
    
  <% end %>
</div>