<div class="row page-header">
  <div class="col-lg-3 col-md-3  my-journal-container">

    <% if @worksheet %>
      <h1 id="my-journal"><%= t('entries.work_step') %></h1>
    <% else %>
      <h1 id="my-journal"><%= t("entries.write") %></h1>
    <% end %>
  </div>
</div>
<div class='col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2 pull-right'>

  <% if @worksheet %>
    <%= link_to t("entries.show_worksheet"), '#', id:'toggle-worksheet' %>

  <% end %>
</div>
<div class="entry-edit-container">
  <div id='entry-text-input'>
    <%= form_for @entry do |f| %>

      <p><%= f.text_field :title, :placeholder => t('entries.title'), id:'worksheet-entry-title' %></p>

      <%= f.cktext_area :body, :class => 'ckeditor' %>
      <br />
      <br />
      <div class="entry-link-container">
        <%= f.submit t('entries.create'), class:"btn-link entry-link-action", id:'worksheet-entry-submit' %>
        <%= link_to t('entries.delete'), entry_path(@entry.id), class:"btn-link entry-link-action", method: :delete %>
        <%= f.submit t('entries.share'), class:"btn-link entry-link-action" %>
      </div>

    <% end %>
  </div>
  <% if @worksheet %>
    <div class='hide-worksheet-details toggled-worksheet-details'>
      <h4><strong>Step <%= @worksheet.step %></strong> - <em><%= @worksheet.title %></em></h4>
      <div class='worksheet-body-details'>
        <%= @worksheet.body.html_safe %>
      </div>
    </div>
  <% end %>

 
 
  
</div>
