<div class="entry-edit-container">
  <% if @worksheet %>
    <%= link_to "Show Worksheet", '#', id:'toggle-worksheet' %>

  <% end %>
  <div id='entry-text-input'>
    <%= form_for @entry do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.cktext_area :body, :class => 'ckeditor' %>

      <%= f.submit %>
      
    <% end %>
  </div>
  <% if @worksheet %>
    <div class='hide-worksheet-details' id='toggled-worksheet-details'>
      <%= @worksheet.title %>
      <%= @worksheet.body.html_safe %>
    </div>
  <% end %>

  <br />
  <br />
  <p class="new-entry-action">
    <%= link_to t('entries.create'), "#", :onclick=>"$('.new_entry').submit()", id:"entry-submit" %>
    <%= link_to t('entries.delete'), entries_path %>
    <%= link_to t('entries.share'), "#" %>
  </p>
  
</div>
