<div class="row page-header">
    <div class="col-lg-8 col-md-8">
      <h1><%= t('entries.my_journal') %>
        <small><%= search_field_tag 'entries_search', t('meetings.search') %></small>
      </h1>
    </div>
    <div class="col-lg-4 col-md-4" id="entry-index-actions">
      <%= link_to t("entries.work_step") + " - ", new_entry_path %> 
      <%= link_to t("entries.worksheet") + " - ", new_entry_path %>
      <%= link_to t("entries.write"), new_entry_path %>
    </div>
</div>
<hr />

<% if @entries %>
  <%= render @entries %>
<% else %>
  <p><%= t("entries.none") %></p>
<% end %>
