

<div class="row page-header">
    <div class="col-lg-8 col-md-8">
      <h1>My Journal
        <small><%= search_field_tag 'entries_search', "Search" %></small>
      </h1>
    </div>
    <div class="col-lg-4 col-md-4" id="entry-index-actions">
      <%= link_to "Work A Step" + " - ", new_entry_path %> 
      <%= link_to "Find A Worksheet" + " - ", new_entry_path %>
      <%= link_to "Just Write", new_entry_path %>
    </div>

</div>
<hr />

<% if @entries %>
  <%= render @entries %>
<% else %>
  <p>NOTHIN TO SHOW</p>
<% end %>
