<div class="row page-header">
    <div class="col-lg-7 col-md-7">
      <h1><%= t('entries.my_journal') %>
        <small><%= search_field 'entries_search', :meetings_search,  placeholder: t('meetings.search') %></small>
      </h1>
    </div>
    <div class="col-lg-5 col-md-5" id="entry-index-actions">
      <%= link_to t("entries.work_step") + " - ", new_entry_path %> 
      <%= link_to t("entries.worksheet") + " - ", new_entry_path %>
      <%= link_to t("entries.write"), new_entry_path %>
    </div>
</div>
<hr />
<div id="new-entry-container">
  <%= form_for @entry do |f| %>

    <p><%= f.text_field :title %></p>

    <p><%= f.cktext_area :body, :class => 'ckeditor' %></p>

    <br />
    <br />
    <p class="new-entry-action">
      <%= link_to t('entries.create') %>
      <%= link_to t('entries.delete') %>
      <%= link_to t('entries.share') %>
    </p>
    
  <% end %>
</div>
