<div class="row" id="friend-actions-bar">
  <div class="col-lg-5">
    <h1>Latest Updates</h1>
  </div>
  <div class="col-lg-7" id="friend-action-links">
    <%= link_to t("navbar.view_friends"), friendships_path, class:"action-link-item" %>
    <%= link_to t("navbar.find_friends"), new_friends_search_path, class:"action-link-item" %>
    <%= form_tag friends_search_index_path, id: "friend-search-form", method: :get, url: friends_search_index_path do %>
      <%= text_field_tag :user_search, params[:friend_name], :placeholder => "Search" %>
      <%= link_to image_tag('search_btn.png'), "#", :onclick => "$('#friend-search-form').submit()", id: 'user-search-submit' %>
    <% end %>
  </div>
</div>

<div class="row" id="new-status-container">
  <div class="col-lg-3">
    <h3><%= t('statuses.mind') %></h3>
  </div>
  <div id="new-status-form" class="col-lg-8">
    <%= form_for @status do |f| %>
      <%= f.text_area :content, :placeholder => t('statuses.whats_up'), id: "new-status-field" %>
      <%= f.hidden_field :shoutouts, :value => "" %>
  </div>
  <div class="col-lg-1">
      <%= f.submit t("statuses.share"), class: "btn", id: "new-status-submit" %>
    <% end %>
  </div>
  <div class="shoutouts-panel hidden col-lg-9 col-lg-offset-3">
  </div>
  <div class="shoutouts-chosen hidden col-lg-3 col-lg-offset-9">
    <h3><%= t('shoutouts.tagged') %></h3>
  </div>
</div>

<div class="row">
  <div id="feed-activity" class="col-lg-12">
    <%= render @statuses %>
  </div>
</div>

<%= javascript_include_tag "statuses" %>
