<%= form_for @user, url: users_path, method: :post do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, t("flash.error")) %>
          <%= " " + t('flash.prohibited_save') + ": " %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-5 col-md-2">
    <div class="actions" id="get-started">
      <strong><%= t("profile.get_started") %></strong>
    </div>
    <div class="field">
      <%= f.text_field :username, :placeholder => t("profile.username"), :tabindex => 1 %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => t("profile.email"), :tabindex => 2 %>
    </div><br />
    <div class="actions" id="last-drink-selector">
      <p><%= t("profile.last_drink") %></p>
      <%= f.date_field :last_drink, :tabindex => 5 %>
    </div>
  </div>

  <div class="col-lg-4 col-md-2" id="right-login-column">
    <div class="field">
      <%= f.password_field :password, id: "new_password" %>
      <%= text_field_tag :new_fake_password, params[:new_fake_password], {:placeholder => t("profile.password"), :tabindex => 3} %>
    </div>
    <div class="field">
      <%= text_field_tag :new_fake_password_confirmation, params[:new_fake_password_confirmation], {:placeholder => t("profile.password_confirmation")} %>
      <%= f.password_field :password_confirmation, id: "new_password_confirmation", :tabindex => 4 %>
    </div><br />
    <div class="actions col-lg-12 col-md-12" id="sign-up">
      <%= f.submit t("profile.create_account"), class: "btn-link", :tabindex => 6 %>
    </div>
  </div>
<% end %>
