<div class="row page-header">
  <div class="col-lg-8 col-md-8">
    <h1><%= t('profile.title') %></h1>
    <div id="profile-edit">
      <h3><%= t('profile.details') %></h3>
      <%= form_for current_user do |f| %>
        <p><%= f.label :username, t("profile.username") %></p>
        <p><%= f.text_field :username %></p>

        <p><%= f.label :password, t("profile.password") %></p>
        <p><%= f.password_field :password %></p>

        <p><%= f.label :password_confirmation, t("profile.password_confirmation") %></p>
        <p><%= f.password_field :password_confirmation %></p>

        <p><%= f.label :locale, t("profile.language") %></p>
        <p><%= f.select :locale, [:en, :es, :fr] %></p>

        <p><%= f.label :last_drink, t("profile.last_drink") %></p>
        <p><%= f.text_field :last_drink, value: "", id: "datepicker" %></p>

        <%= f.submit t("profile.update") %>
      <% end %>
    </div>
  </div>
</div>
