<div id="big-book-container" class="row">
  <div id="big-book-nav-container" class="col-lg-4">

    <div id="toc-search-field-panel">
      <%= search_field "toc-search-form", :toc_search, id: 'toc_search', placeholder: t("bigbook.search") %>
      <button id="search-submit" class="btn-link">Search</button>
      <br />
      <br />
    </div>

    <div id="toc-search-tabs">
      <%= link_to t("bigbook.toc"), "#", id:"toc-tab" %>
      <%= link_to t("bigbook.searchresults"), "#", id:"results-tab" %>
    </div>

    <div id="toc-main-panel">
      <p id="initial-toc"><%= t('bigbook.toc') %></p>
      <br />
      <% @chapters.each_with_index do |c, i| %>
        <%= link_to "#{i+1}. #{c.title}", "#", class:"chapter-link", id: "chapter-#{c.id}-link" %>
        <br />
      <% end %>
    </div>

    <div id="toc-search-results-panel">
      <div id="results">
        <ul id="result-list">
        </ul>
      </div>
    </div>
  </div>

  <div id="chapter-view-panel" class="col-lg-8">
    <%= render partial: 'chapter', chapter: @chapters.first %>
  </div>
</div>