<div class="row current-friend" id=<%= "pending-#{inverse_friendship.user.username}"%>>
  <div class="col-lg-2">
    <p class="current-friend-details"><%= image_tag (inverse_friendship.user.decorate.current_token_image_sm), class: "status-token" %>
    <%= inverse_friendship.user.username %></p>
  </div>
  <div class="col-lg-8">
    <p><%= t('profile.bio') + ": " + inverse_friendship.user.bio %></p>
  </div>
  <div class="col-lg-2 pending-friend-actions">
    <%= button_to t("friendships.remove"), reject_friendship_path(inverse_friendship.id), method: :delete, class: 'btn-link', id:"remove-pending-friendship" %>
  </div>
</div>