<div class="row" id="view-friends-index">
  <div class="col-lg-12" id="view-friends-index-title">
    <h1><%= t("friendships.my_friends") %></h1>
  </div>
</div>

<%= render partial: 'friendship', collection: @friendships %>
<%= render partial: 'inverse_friendship', collection: @inverse_friendships %>

<div id="pending-friendships" class="row">
  <div class="col-lg-12" id="friend-requests-title">
    <h2><%= t("friendships.friend_requests") %></h2>
  </div>
</div>
<%= render partial: 'pending_inverse_friendship', collection: @pending, as: :inverse_friendship %>