<div id='navbar'>
  <%= link_to t("navbar.resources"), "#", id:"resources-link" %>
  <% if current_user %>
    <%= link_to t("navbar.logout"), sessions_path, method: :delete %>
  <% else %>
    <%= link_to t("navbar.signup"), new_user_path %>

    <%= link_to t("navbar.login"), new_session_path %>
  <% end %>

  <div id="resources-link-panel">
    <%= link_to t("navbar.twelvesteps"), "#" %>
    <%= link_to t("navbar.twelvetraditions"), "#" %>
    <%= link_to t("navbar.serenityprayer"), "#" %>
  </div>
</div>
