<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('12Stepper_white_logo.png'), root_path, id: "logo-link" %>
    </div>
    <% unless current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" id ="language-link" class="dropdown-toggle" data-toggle="dropdown" ><%= I18n.t("languages.select") %><b class="caret"></b></a>

          <ul class="dropdown-menu language-dropdown">
            <li><%= link_to "English", "#", id: "en" %></li>
            <li><%= link_to "Français", "#", id: "fr" %></li>
            <li><%= link_to "Español", "#", id: "es" %></li>
          </ul>
        </li>
      </ul>
    <% end %>
    <% if current_user %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">

          <li><%= link_to I18n.t("navbar.journal"), entries_path, {:id => "journal-link"} %>
          </li>
          <li class="dropdown">
            <%= link_to t("navbar.resources"), "#", {:id => "resources-link", :class => "dropdown-toggle", 'data-toggle' => "dropdown" }%>
            <ul class="dropdown-menu">
              <li><%= link_to t("navbar.bigbook"), big_book_path %>
              </li>
              <li class="divider"></li>
              <li><%= link_to t("navbar.twelvesteps"), page_path("twelve-steps-#{I18n.locale.to_s}") %>
              </li>
              <li><%= link_to t("navbar.twelvetraditions"), page_path("twelve-traditions-#{I18n.locale.to_s}") %>
              </li>
              <li><%= link_to t("navbar.serenityprayer"), page_path("serenity-prayer-#{I18n.locale.to_s}") %>
              </li>
            </ul>
          </li>
          <li><%= link_to t("navbar.meetings"), meetings_path, id:"meetings-link" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="congrats-link-container">
            <%= link_to t('navbar.congrats') + ", ",
            "#", id:"congrats-link" %>
            <%= link_to current_user.decorate.days_sober, 
            "#", id:"congrats-link" %>
          </li>
          <li><%= image_tag(current_user.decorate.current_token_image, class: "navbar-token") %></li>
          <li class="dropdown">
            <%= link_to t('navbar.welcome') + ", " + 
            current_user.username + "!", "#", {:id => "account-link", 
            :class => "dropdown-toggle", 'data-toggle' => "dropdown"} %>

            <ul class="dropdown-menu account-dropdown">
              <li>
                <%= link_to t("navbar.profile"), user_show_path(current_user.username) %>
              </li>
              <li>
                <%= link_to t("navbar.view_friends"), friendships_path %>
              </li>
              <li>
                <%= link_to t("navbar.find_friends"), new_friends_search_path %>
              </li>
              <li>
                <%= link_to t("navbar.logout"), sessions_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  <% end %>
  <!-- /.container -->
</nav>
