<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='<%= t('title') + " - " + t('tagline') %>'>
    <meta name="author" content="Ben Lewis, Ben Horne, Billy Griffin, Louisa Barrett">
    <title><%= t("title") %></title>
    <%= stylesheet_link_tag    "not_found", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: 'layouts/navbar' %>
    
    <div class="container body-container">
      <%= yield %>
    </div>

  </body>
</html>
